<div class="form-size">
    <form novalidate [formGroup]="paymentForm" (ngSubmit)="onSubmit()">
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Nome</mat-label>
          <input matInput formControlName="nome" placeholder="Nome" type="text" required>
        </mat-form-field>
      </p>

        <p>
        <mat-form-field appearance="fill">
          <mat-label>Valor Original</mat-label>
          <input matInput formControlName="valorOriginal" placeholder="Valor Original" type="number" pattern="^\d*(\.\d{0,2})?$" required>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="fill">
          <mat-label>Data Vencimento</mat-label>
          <input matInput formControlName="dataVencimento" placeholder="Data Vencimento" type="date" required>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="fill">
          <mat-label>Data Pagamento</mat-label>
          <input matInput formControlName="dataPagamento" placeholder="Data Pagamento" type="date" required>
        </mat-form-field>
      </p>

      <button type="submit" mat-button class="background-primary text-floral-white">Submit</button>
      </form>

</div>

<button type="submit" mat-button class="background-primary text-floral-white" (click) = "obterPagamentos()">Obter Pagamentos</button>

<table class="form-size">
  <tr>
    <th>Nome</th>
    <th>Valor Original</th>
    <th>Valor Corrigido</th>
    <th>Data Vencimento</th>
    <th>Data Pagamento</th>
    <th>Dias em Atraso</th>
    <th>Multa</th>
    <th>Juros</th>
  </tr>
  <tr *ngFor="let pagamento of listaPagamentos">
    <td>{{pagamento.nome}}</td>
    <td>{{pagamento.valorOriginal}}</td>
    <td>{{pagamento.valorCorrigido}}</td>
    <td>{{pagamento.dataVencimento}}</td>
    <td>{{pagamento.dataPagamento}}</td>
    <td>{{pagamento.diasEmAtraso}}</td>
    <td>{{pagamento.multa}}</td>
    <td>{{pagamento.juros}}</td>
  </tr>
</table>
